@tailwind base;
@tailwind components;
@tailwind utilities;


body{
    background-color: black;
    color: white;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}
#taskList::-webkit-scrollbar{
    display: none;
}